<h2>My todo <%= @todo.id %></h2>

<div class="jumbotron">
<h2><%= @todo.name %></h2>
<p>before <%= @todo.due_date %>!</p>
</div>

<%= link "Edit", to: todo_path(@conn, :edit, @todo) %>
</br>
<%= link "Back", to: todo_path(@conn, :index) %>
